p{
font-size: 20px;
color: red;
}
h1{
    font-size: 30px;
    text-transform: capitalize;
}
.uppercase{
    text-transform: uppercase;
}
.cursive{
    font-family: cursive;
}
#blog-desc{
    color:#314831;
    font-size: 30px;

}



li h4{
    text-transform: uppercase;
   text-anchor: middle;
   font-family:cursive;
} 