#container{
height :
400px;
/* auto; */
/* 75vh; */
width:
400px; 
/* auto; */
/* 500px;  */
/* 75vw; */
background-color: rgb(38, 179, 171);
display: flex;
flex-direction:
/* column; */
column;
/* row;  */
/* row-reverse; */
/* flex-wrap:wrap-reverse; */
justify-content:
/* space-evenly; */
space-between;
/* end; */
/* start ; */
/* center; */
/* space-around; */


align-items:
 /* stretch; */
/* flex-end; */
/* flex-start; */
center;



}


#container div{
    height: 100px;
    width: 100px;
    /* max-width: 300px; */

}
#div1{
    background-color: blue;
    /* flex-grow:1 ; */
    /* flex-shrink: 4; */
   

}

#div2
{
background-color: lightgreen;
/* flex-grow: 4; */
/* flex-shrink: 1; */
/* order :4; */

}
/*  
#div3{
    background-color: lightpink;
} */
/* #div4{ 
    background-color: purple;
     order:-1; 
}
#div5{
    background-color: orange;
     order:-1; 
 } */