html{
    font-size: 30px;
}


#div1{
    height:
    /* 20em; */
    /* 10rem;  */
    200px;
    width:
    /* 20em; */
    /* 5rem; */
     200px;
    background-color: 
    /* hsl(25,126,200,1);   */
     rgba(25,126,200, 0.4) ; /*range of alpha is 0-1 */
    /* rgb(25, 126, 200) */
     /* #393a7b; */
     /* red; */
    
    /* border-width: 2px ;
    border-style: solid;
    border-color:red ; */
    border: 5px dotted red;
    border-left :0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    
    /* border: 4px dotted red;
    border-radius: 4px; */
}

#div2{
    height: 50%;
    width: 50%;
    background-color:cyan; 
    /* hsl(25,126,200,1);   */
     /* rgba(25,126,200, 0.4) ; */
}